{
  "jsc": {
    "target" : "es2022",
    "baseUrl": ".",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
